# Environment

.env
.env.*
!.env.example
.claude/
#.NET Build & Publish

bin/
obj/
publish/
appsettings.Development.json

# IDE / Editor

.vs/
.idea/
*.user
*.suo
*.sln.docstates

# Frontend / Node

node_modules/
dist/
.eslintcache

# Logs

*.log
.DS_Store
Thumbs.db

/backend/Volunti/appsettings.json

# Local context file - do not remove
CC_Context.md
/backend/Volunti/Volunti.http
