:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;

  --sans: "Inter", system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: "Inter", system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: var(--sans);
}

#root {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
}

code {
  font-family: var(--mono);
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
  border-radius: 4px;
  color: var(--text-h);
}
